{% templatetag openblock %} extends 'base.html' {% templatetag closeblock %}
{% templatetag openblock %} load i18n static {% templatetag closeblock %}

{% templatetag openblock %} block back {% templatetag closeblock %}
{% templatetag openblock %} endblock back {% templatetag closeblock %}

{% templatetag openblock %} block header {% templatetag closeblock %}
    {% templatetag openblock %} trans "Index" {% templatetag closeblock %}
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block sidebar {% templatetag closeblock %}
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}
    <div class="row">
        <div class="col-md-12">
            {% templatetag openblock %} for obj in menu {% templatetag closeblock %}
            <a href="{% verbatim %}{{  obj.url }}{% endverbatim %}" class="btn btn-primary btn-lg">
                <i class="icon fa {% verbatim %}{{ obj.icon }}{% endverbatim %}"></i>
                <span> {% verbatim %}{{ obj.title }}{% endverbatim %}</span>
            </a>
            {% templatetag openblock %} endfor {% templatetag closeblock %}
        </div>
    </div>
{% templatetag openblock %} endblock content {% templatetag closeblock %}
