{% templatetag openblock %} extends 'base.html' {% templatetag closeblock %}
{% templatetag openblock %} load i18n static {% templatetag closeblock %}

{% templatetag openblock %} block back {% templatetag closeblock %}
{% templatetag openblock %} endblock back {% templatetag closeblock %}

{% templatetag openblock %} block header {% templatetag closeblock %}
    {% templatetag openblock %} trans "Dashboard" {% templatetag closeblock %}
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block sidebar {% templatetag closeblock %}
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-primary btn-lg">
                Project toevoegen
            </a>
            <a class="btn btn-primary btn-lg">
                Contactpersoon toevoegen
            </a>
            <a class="btn btn-primary btn-lg">
                Organisatie toevoegen
            </a>
        </div>
    </div>
{% templatetag openblock %} endblock content {% templatetag closeblock %}
