{% load i18n %}

{% templatetag openblock %} load i18n static {% templatetag closeblock %}

<div class="row">
    <div class="col-md-12">
        <table class="table undefined sortableTable">
            <thead>
            <tr>
                {% for field in concrete_fields %}
                    <th class="{{ field|slugify }}">
                        <span>
                            <a>{{ field }}</a>
                        </span>
                    </th>
                {% endfor %}
                <th class="col-btn">
                    <span>
                        <span>
                        </span>
                    </span>
                </th>
            </tr>
            </thead>
            <tbody>
                {% templatetag openblock %} for object in object_list {% templatetag closeblock %}
                    <tr>

                        {% for field in concrete_fields %}
                            {% if forloop.first %}
                                <td>
                                  <a href="{% templatetag openvariable %} object.get_absolute_url {% templatetag closevariable %}">
                                    {% templatetag openvariable %} object.name {% templatetag closevariable %}
                                  </a>
                                </td>
                            {% else %}
                                <td>
                                    {% templatetag openvariable %} object.{{ field }} {% templatetag closevariable %}
                                </td>
                            {% endif %}
                        {% endfor %}

                        <td class="col-btn">
                            <div class="btn-group">
                                <a type="button" class="btn btn-default btn-sm" href="{% templatetag openvariable %} object.get_absolute_url {% templatetag closevariable %}">
                                    {% templatetag openblock %} trans 'Edit' {% templatetag closeblock %}
                                </a>
                            </div>
                        </td>

                    </tr>
                {% templatetag openblock %} endfor {% templatetag closeblock %}
            </tbody>
        </table>
    </div>
</div>
