{% templatetag openblock %} extends '{{ app_name }}/{{ model_slug }}_base.html' {% templatetag closeblock %} 
{% templatetag openblock %} load i18n static {% templatetag closeblock %} 

{% templatetag openblock %} block buttons {% templatetag closeblock %} 
{% templatetag openblock %} endblock buttons {% templatetag closeblock %} 

{% templatetag openblock %} block header {% templatetag closeblock %} 
    {% templatetag openblock %} if object {% templatetag closeblock %} 
        {% templatetag openblock %} trans "Change {{ verbose_name|title }}" {% templatetag closeblock %}
    {% templatetag openblock %} else {% templatetag closeblock %} 
        {% templatetag openblock %} trans "Create {{ verbose_name|title }}" {% templatetag closeblock %}
    {% templatetag openblock %} endif {% templatetag closeblock %} 
{% templatetag openblock %} endblock {% templatetag closeblock %} 

{% templatetag openblock %} block content {% templatetag closeblock %} 
    <form action="
            {% templatetag openblock %} if object {% templatetag closeblock %} {% templatetag openblock %} url '{{ app_name }}:{{ model_slug }}_change' pk=object.pk {% templatetag closeblock %} {% templatetag openblock %} else {% templatetag closeblock %} {% templatetag openblock %} url '{{ app_name }}:{{ model_slug }}_create' {% templatetag closeblock %} {% templatetag openblock %} endif {% templatetag closeblock %}"
          method="post" encoding="utf-8">
        <fieldset>
            {% templatetag openblock %} csrf_token {% templatetag closeblock %} 
            {% templatetag openvariable %} form.as_p {% templatetag closevariable %}
            <div class="form-actions">
                <button class="btn btn-large btn-success" type="submit">
                    {% templatetag openblock %} trans "Save" {% templatetag closeblock %}
                </button>
            </div>

            {% templatetag openblock %} if object {% templatetag closeblock %}
                <a href="{% templatetag openblock %} url '{{ app_name }}:{{ model_slug }}_delete' pk=object.pk {% templatetag closeblock %}" class="btn btn-large btn-danger">
                  {% templatetag openblock %} trans "Delete" {% templatetag closeblock %}
                </a>
            {% templatetag openblock %} endif {% templatetag closeblock %}

        </fieldset>
    </form>
{% templatetag openblock %} endblock {% templatetag closeblock %} 
