from django.conf import settings
from django.contrib.sites.models import Site
from django.core.urlresolvers import reverse


{% load scaffold_tags %}{% emptylineless %}
def base(request):
    current_site = Site.objects.get(pk=settings.SITE_ID)
    context = {
        'site': current_site,
        'menu': [
            # fa-tachometer
            # fa-folder
            # fa-building
            # fa-child
            # fa-cogs
            # fa-ambulance
            # fa-clock-o
            # fa-book
            # fa-paint-brush
{% for obj in items %}
            {
                'title': '{{ obj.verbose_plural|title }}',
                'url': reverse('{{ app_name }}:{{ obj.url_name }}_list'),
                'icon': 'fa-folder',
            },
{% endfor %}
        ]
    }
    return context
{% endemptylineless %}