{% load scaffold_tags %}{% emptylineless %}
from django.conf import settings
from django.conf.urls.static import static
from django.contrib import admin
from django.views.generic import TemplateView
from django.contrib.auth import views as auth_views
from django.urls import path
from .views import (
    IndexView,
    {% for obj in items %}
    {{ obj.model_name }}CreateView,
    {{ obj.model_name }}DeleteView,
    {{ obj.model_name }}DetailView,
    {{ obj.model_name }}ListView,
    {{ obj.model_name }}UpdateView,
        {% if obj.date_fields %}
    {{ obj.model_name }}ArchiveIndexView,
    {{ obj.model_name }}DateDetailView,
    {{ obj.model_name }}DayArchiveView,
    {{ obj.model_name }}MonthArchiveView,
    {{ obj.model_name }}TodayArchiveView,
    {{ obj.model_name }}WeekArchiveView,
    {{ obj.model_name }}YearArchiveView,
        {% endif %}
    {% endfor %}
)
{% endemptylineless %}

urlpatterns = [
    path(
        r'admin/',
        admin.site.urls
    ),
    path(
        r'$',
        IndexView.as_view(),
        name='index'
    ),
    path(
        r'login/',
        auth_views.LoginView.as_view(),
        name='login'
    ),
    path(
        r'logout/',
        auth_views.LogoutView.as_view(),
        name='logout'
    ),
]


{% emptylineless %}
urlpatterns += [
{% for obj in items %}
    path(
        r'{{ obj.slug }}/create/',
        {{ obj.model_name }}CreateView.as_view(),
        name='{{ obj.url_name }}_create'
    ),
    path(
        r'{{ obj.slug }}/<int:pk>/delete/',
        {{ obj.model_name }}DeleteView.as_view(),
        name='{{ obj.url_name }}_delete'
    ),
    path(
        r'{{ obj.slug }}/<int:pk>/',
        {{ obj.model_name }}DetailView.as_view(),
        name='{{ obj.url_name }}_detail'
    ),
    path(
        r'{{ obj.slug }}/',
        {{ obj.model_name }}ListView.as_view(),
        name='{{ obj.url_name }}_list'
    ),
    path(
        r'{{ obj.slug }}/<int:pk>/change/',
        {{ obj.model_name }}UpdateView.as_view(),
        name='{{ obj.url_name }}_change'
    ),
    {% if obj.date_fields %}
    path(
        r'devicelocation/archive/',
        {{ obj.model_name }}ArchiveIndexView.as_view(),
        name='{{ obj.url_name }}_archive_index'
    ),
    path(
        r'{{ obj.slug }}/<int:year>/'
               '<int:month>/'
               '<int:day>/'
               '<int:pk>/',
        {{ obj.model_name }}DateDetailView.as_view(),
        name='{{ obj.url_name }}_date_detail'
    ),
    path(
        r'{{ obj.slug }}/archive/<int:year>/'
               '<int:month>/'
               '<int:day>/',
        {{ obj.model_name }}DayArchiveView.as_view(),
        name='{{ obj.url_name }}_day_archive'
    ),
    path(
        r'{{ obj.slug }}/archive/<int:year>/'
               '<int:month>/',
        {{ obj.model_name }}MonthArchiveView.as_view(),
        name='{{ obj.url_name }}_month_archive'
    ),
    path(
        r'{{ obj.slug }}/today/',
        {{ obj.model_name }}TodayArchiveView.as_view(),
        name='{{ obj.url_name }}_today_archive'
    ),
    path(
        r'{{ obj.slug }}/archive/<int:year>/'
               '<int:month>/'
               'week/<int:week>/',
        {{ obj.model_name }}WeekArchiveView.as_view(),
        name='{{ obj.url_name }}_week_archive'
    ),
    path(
        r'{{ obj.slug }}/archive/<int:year>/',
        {{ obj.model_name }}YearArchiveView.as_view(),
        name='{{ obj.url_name }}_year_archive'
    ),
    {% endif %}
{% endfor %}
]
{% endemptylineless %}

urlpatterns += static(settings.STATIC_URL, document_root=settings.STATIC_ROOT)
urlpatterns += static(settings.MEDIA_URL, document_root=settings.MEDIA_ROOT)

if settings.DEBUG:
    # During development we want to be able to see the 404 and 500 page.
    from django.views.defaults import server_error
    urlpatterns += [
        path(
            r'500/',
            server_error
        ),
        path(
            r'404/',
            TemplateView.as_view(template_name='404.html')
        ),
    ]
